<div class="landing">
    <div id="landing-header">
        <h1>Welcome to EdaMate</h1>
        <a href="/edamaters" class="btn btn-lg btn-success">View All EdaMate Profiles</a>
    </div>
</div>
    
